@charset "utf-8";
/* CSS Document */

.navbar-text > a {
	color: inherit;
	text-decoration: none;
}
.nav {
	padding-left:35px;
}
.nav li {
	color:bold;
}
body {
	padding-top:70px;
	padding-bottom: 100px;
}
	/*
  ========================================
  navbar
  ========================================
*/
.navbar-default {
		background-color:rgba(255,255,255,0.8);
/*
	background-color:rgba(255, 255, 255, 0.8);
	background-color:rgba(255,127,0,0.4);
	background-color:rgba(255, 192, 137, 0.8);*/
	border-color: #FFFFFF;
	color: #ffffff;
}
.navbar-default .navbar-brand {
	color: #000000;
	font-weight:bold;
	font-family: 'Noto Sans', sans-serif;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #000000;
	background-color: transparent;

}
.navbar-default .navbar-nav > li > a {
	color: #000000;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #000000;
	background-color: #003060;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #000000;
	background-color: transparent;

}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	background-color:rgba(190,190,190,0.1);
	color: #000;
	border-left: 1px solid lightgrey;
	border-right: 1px solid lightgrey;
}
.navbar-fixed-top {
	z-index: 1030;
	position:fixed;
}
	/*
  ========================================
  btn
  ========================================
*/
.btn-primary {
	background-color: rgba(255, 127, 0, 0.4);
	border-color: #fff;
	color: #000;
}
.btn-danger {
	border:#fff;
	
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
	color: #000;
	background-color:rgba(255,127,9,0.6);
	border-color: #fff;
}

.btn-success {
	background-color: rgba(61,204,204,0.8);
	border-color: #fff;
	color: #000;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
	color: #000;
	background-color: rgba(61,204,204,1);
	border-color: #fff;
}
	/*
  ========================================
  Container
  ========================================
*/
.page-header {
	margin: 0 0 20px 0;
}

#jumbo-bottom {
	background-color: #fff;
	border-bottom: 1px solid #eee;
}
#jumbo-top {
	background-color: #fff;
	padding-top: 0;
}
#jumbo-top-home {
	background-color: rgba(61,204,204,0.6);
	background-color:#eee;	
}
#jumbo-top-home h2{
	padding: 10px 0 40px 0;
}
#jumbo-top-home h3{
	padding: 0 0 40px 0;
	font-color:normal;
	
}
#jumbo-inside {
	padding-top:0;
	padding-bottom:0;
	background-color: rgba(61,204,204,0.6);
}
	/*
  ========================================
  span (grafics) & thumbnail
  ========================================
*/
.row span {
	padding-right: 12px;
}
.container span {
	padding-right: 12px;
}
span .glyphicon{
	padding-right:12px;
}
.thumbnail img:hover {
	transform:scale(1.1);
}
.thumbnail img {
	transition:all 0.3s ease 0s;
	width:100%;
}
.thumbnail {
	overflow:hidden;
}
.headline-center h1,h2,h3,h4,h5,h6 {
	text-align:center;
}
.jumbotron {
	z-index:-100;
}
.navbar-fxied-tob {
	z-index:100;
}
.navbar a {
	font-family:'Josefin Sans', sans-serif;
	font-size:21px;
	color:#000;	
}
a.special:link    {color:#fff; background-color:transparent; text-decoration:none}
a.special:visited {color:#fff; background-color:transparent; text-decoration:none}
a.special:hover   {color:#fff; background-color:transparent; text-decoration:none}
a.special:active  {color:#fff; background-color:transparent; text-decoration:none}


#p-xl {
	margin-bottom: 15px;
	font-size:21px;
	font-weight:200;
}*/
	/*
  ========================================
  Typografie
  ========================================
*/

p, a {
	font-weight: 400;
	font-family: 'Noto-Sans', sans-serif;
}

h4 {
	padding-top: 15px;
	padding-bottom: 15px;
}
h2 {
	padding-top: 55px;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Noto-Sans', sans-serif;
}
#abschnitt1 h2 {
	padding: 0 0 25px 0;
	margin: 0;
}
/*h4, h1 {
	font-family: 'Josefin Sans', sans-serif;
	}
	*/
#about h2 {
	font-family: quicksand, sans-serif;
		}
#about p {
	font-size:14px;
	line-height: 2;
}
#about a {
	font-size:19px;
}
.page-header h1, h2 {
	font-family: 'Josefin Sans', sans-serif;
		}
.page-body h4  {
		font-family: 'Josefin Sans', sans-serif;
}
#subp {
	font-size:12px;
}
.typed-cursor {
	opacity:1;
	animation:blink 0.7s infinite;
}
span.required_new {
	color: #E10513;
	margin-left:5px;
}
#jumbo-bottom small {
					font-size:13px;
				}
				#jumbo-bottom {
					background-color:#eee;
					margin-top:55px;
					}
/*
  ========================================
  typed.js
  ========================================
*/
.type-wrap {
            font-size: 49px;
            font-family:'Prompt', 'Noto Sans', sans-serif;
            color: #fff;
            padding-bottom: 105px;
}
/* code for animated blinking cursor */
        .typed-cursor{
            opacity: 1;
            font-weight: 100;
            -webkit-animation: blink 0.7s infinite;
            -moz-animation: blink 0.7s infinite;
            -ms-animation: blink 0.7s infinite;
            -o-animation: blink 0.7s infinite;
            animation: blink 0.7s infinite;
        }
        @-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-webkit-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-moz-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-ms-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }
        @-o-keyframes blink{
            0% { opacity:1; }
            50% { opacity:0; }
            100% { opacity:1; }
        }